<html>
<form action="/process" method="POST">
<lable>First Name</lable>
<input type="text" name="firstn" id="first">
<lable>Last Name</lable>
<input type="text" name="lastn" id="last">
</lable>Text Color</lable>
<select name="color">
    <option value="red">red</option>
    <option value="blue">blue</option>
    <option value="orange">orange</option>
    <option value="green">green</option>
  </select>
  <lable>Font Size</lable>
  <input type="range" name="fontSize" min="0" max="30">
<input type="submit">
</form>
</html>